<h1>Files in the current directory</h1>
<p>The files in the current directory are:</p>
<ul>
	<%= @files.each do |file| %>
	<li>File: <%= file %></li>
	<% end %>
</ul>

<p>
	<%= link_to "Home", say_hello_path %>
</p>